@keyframes change {
    from {
        transform: skew(0);
        opacity: 1;
    }
    25% {
        transform: skew(10deg);
        opacity: 0.5;
    }
    50% {
        transform: skew(0deg);
        opacity: 1;
    }
    75% {
        transform: skew(-10deg);
        opacity: 0.5;
    }
    to {
        transform: skew(0);
        opacity: 1;
    }
}