.button {
    width: 284px;
    height: 74px;
    background-color: #B4141B;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: $col_1;
    border: none;
    &_mini {
        width: 104px;
        height: 35px;
        font-size: 12px;
    }
    &_right {
        position: absolute;
        right: 38px;
        bottom: 52px;
    }
    &:hover {
        box-shadow: 3px 3px 15px rgba(161, 1, 1, 0.678);
    }
}