.slider {
    position: relative;
    &__promise {
        width: 560px;
        height: 360px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        color: #1A1919;
    }
    &__subtitle {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 84px;
        line-height: 84px;
        color: #1A1919;
    }
    &__descr {
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        color: #000000;
    }
}